* {
	box-sizing: border-box;
}

/*.react-alerts {
	background-color: black;
}*/

.content  {	
	color: red;
	font-size: 16px;
	height: 24px;
}

.width-100 { 
	width: 100%; 
}

.width-50 {
	width: 50%;
}


/*Navigation*/

.navbar {
	height: 9.8em;
	text-align: center;
	border: none;
	margin: 0;
}


.navbar-default {
	background-color: transparent;
}

.navbar-header {
	float: none;
	margin: 0 auto;

}

.navbar-brand {
	float: none;
	cursor: pointer;
	color: #CC0000 !important;
}

.navbar-brand h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 36px;
	font-weight: 600;			
	
}

.navbar-brand small {
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	font-weight: 600;	
}

.navbar-brand:hover {
	color:#8a0303 !important;
}

/*Header*/




.page-header {
	border: none;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}



p {
	font-family: "Montserrat", sans-serif;
	color: white;
}

h3 {
	font-family: "Montserrat", sans-serif;
	color: #CC0000;
	padding: 0 0 24px 0;
	font-weight: bold;    
}

/*
span > p {
	margin: 0 0 -5px;
}*/



.curious {
	background: rgba(0, 0, 0, 0.75);
	padding: 1em;
	width: 10em;
	border-radius: 2em;
	display: inline-block;
	margin: auto 0;	
}



/*Home Screen*/

.homeScreen {
	text-align: center;
	margin: 0 auto;
	
}

.homeScreen p {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	color: white;
}


.homeScreen2 {	
	padding-bottom: 1em;
	text-align: center;
	margin: 0 auto;
	
}

.homeScreen2 > span {
	margin: 0 auto;
	color: #FFFFFF;
	cursor: pointer;
	padding: 0.2em;

}

.homeSection {
	background: #000000;
	background-image: url('../img/candles.jpg');
	background-size: cover;
	padding-bottom: 15em;
}

.about {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	color: #CC0000;
	margin-top: 1em;
	cursor: pointer;	

}

.about:hover {
	color:#8a0303;
}

.click-to-enter {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 28em;
}


/* Results Screen  */


.resultsScreen  {
	font-family: "Montserrat", sans-serif;
	width: 100%;
    height: 100%; 	
}

.resultsScreen h3 {
	font-family: "Montserrat", sans-serif;
	color: #CC0000;
}

.resultsRow {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 5em;
}



/*Button Styles*/

.btn {
	padding: 12px 8px;
}

.closeResultsButton {
	text-align: center;
	margin: 0 auto;
	padding-top: 5em;
	padding-bottom: 3em;	
}

.closeButton.btn-default {
	
	box-shadow: 0px 3px 3px 3px black;
	background-color: #CC0000;
	border: 1px solid white;
	border-radius:5px;	
	display:inline-block;
	cursor:pointer;	
	font-family: "Montserrat", sans-serif;
	color: white;
	padding: 12px 8px; 
	font-size:17px;
	font-weight:bold;	
		
}
.closeButton:hover {	
	background-color:#8a0303;
}


#appContainerButton {	
	cursor:pointer;	
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	background-color: #CC0000;
	border: 1px solid white;
	color: white;
	padding: 12px 8px; 
}

#appContainerButton:hover {
	background-color:#8a0303;
}


.dropdown {	
	width: 50%;
	background: transparent;
	color: white;
	font-family: "Montserrat", sans-serif;
}

.dropdown:hover {
	background: transparent;
	color: white;
}

.searchRow {
	margin: 0 auto;
	padding-bottom: 26em;
}

.dropdown-toggle {	
	width: 100%;
	background: transparent;
	color: white;
}

.dropdown-toggle:hover {
	background-color: #8a0303;
	color: white;
}


.goButton {
	background-color: transparent;
	cursor:pointer;	
	font-family: "Montserrat", sans-serif;
	border: 1px solid white;
	color: white;
}

.goButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}

.modal-close-btn.btn-default {	
	cursor:pointer;	
	font-family: "Montserrat", sans-serif;
	background-color: transparent;
	border: 1px solid rgb(102, 102, 102);
	color: rgb(102, 102, 102);
}

.modal-close-btn.btn-default:hover {
	background-color: #8a0303;
	border: 1px solid white;
	color: white;
}


.appContainer {
	background: #000000; 
}

#appContainerScreen {
	text-align: center;
}


.search {
	margin-top: 10em;
	margin-bottom: 15em;
	margin: 0 auto;
	text-align: center;
}



.shadow {	
	padding: 1em;
	border-radius: 10px;
	display: inline-block;	
}



.display {	
	margin-top: 10em;
	padding: 1em;
	width: 22em;	
	display: inline-block;
}


.results {
	font-family: "Bitter", cursive;
	color: white;
	display: inline-block;
	padding: 0.1em 0.1em 0.1em 1.3em;
}



.skull img {
	border-radius: 50%;
	width: 3.5em;
	height: 3.5em;	
	padding: 3px;
	background-color: white;
	text-align: center;
}




/*Modal Styles*/

.modal-header {
	font-family: "Montserrat", sans-serif;
	color: #CC0000;
	background: #ffffff;
	text-align: center;
}

.modal-body {
	background: #ffffff;
}

.modal-body p {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;	
	color: rgb(102, 102, 102);
}

.modal-footer {
	background: #ffffff;
}



.footer {
	position: absolute;	
	width: 100%;
	height: 72px;
	text-align: center;
	margin: 0 auto;
	padding-top: 1em;
	background: #8E0E00; 
	background: -webkit-linear-gradient(to top, #8E0E00 , #0F0F07); 
	background: linear-gradient(to top, #8E0E00 , #0F0F07); 
        

}

.footer p {
  margin: 0;  
}

.footer a {
	color: white;
}


/*Font Awesome Styles*/

.fa-linkedin-square { 
	color: white;
	padding-right: 0.5em;
}

.fa-github {
	color: white;
	padding-left: 0.5em;
}

/*Media Queries*/

@media screen and (min-width: 993px) {
	#appContainerButton {
		width: 15%;
	}
}

@media screen and (max-width: 992px) {
	.display-toggle {
		width: 14%;
	}

	#appContainerButton {
		width: 48%;
	}
}

@media screen and (max-width: 453px) {
	.header-container {
		padding-bottom: 5em;
	}

	.homeScreen {
		width: 85%;
		padding-bottom: 3em;
	}


}

@media screen and (max-width: 768px) {
	.c3 {
		height: 400px;

	}

}

@media screen and (max-width: 768px) {
	.c3 {
		height: 300px;
	}

	#chart {
		padding-bottom: 35em !important;
	}
}



/*C3 Chart*/

#chart {	

	background: #FFFFFF; 
	padding-top: 7em;
	padding-bottom: 5em;
	text-align: center;

}

.c3  {
	width: 100%;
}

.chart-columns {
	padding: 0;
}

.chart-row {
	margin: 0 auto;
}

.c3Chart {
	margin: 0 auto;
}

text {
	font-size: 12px;
}




